<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Leafpad"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name=".InfoTextActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/menu_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyApp"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:exported="true"
            android:label="@string/search"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.git.amarradi.leafpad.MainActivity" />
        </activity>
        <activity
            android:name=".NoteEditActivity"
            android:exported="true"
            android:label="@string/title_activity_note_edit"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApp"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.git.amarradi.leafpad.MainActivity" />
        </activity>
    </application>

</manifest>