<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.git.amarradi.leafpad">

    <application
        android:name=".Leafpad"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">

        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:label="@string/menu_settings"
            android:theme="@style/Theme.MyApp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyApp"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/search"
            android:theme="@style/Theme.MyApp"
            android:parentActivityName=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.git.amarradi.leafpad.MainActivity" />
        </activity>
        <activity
            android:name=".NoteEditActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:label="@string/title_activity_note_edit"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyApp">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.git.amarradi.leafpad.MainActivity" />
        </activity>
    </application>
</manifest>